.container {
  margin: 30px 15px 0 15px;
}

.form-title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: large;
  color: darkgrey;
}

.text-center-wrapper {
  text-align: center;
}
